# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Code editors
.vscode/
.idea/

# Sqlite DB
db.sqlite3

# Python and Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
**/migrations/*
!**/migrations/__init__.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
